.video-container {
    position: relative;
    display: inline-block;
}

#timer-display {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 80px;
    font-weight: bold;
    color: white;
    background: rgba(0, 0, 0, 0.6);
    padding: 20px;
    border-radius: 50%;
    display: none; /* Timer tidak terlihat awalnya */
    animation: countdown-animation 1s ease-in-out;
}

@keyframes countdown-animation {
    0% { transform: translate(-50%, -50%) scale(1.5); opacity: 1; }
    100% { transform: translate(-50%, -50%) scale(1); opacity: 0; }
}
